            @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);
            body,
            html {
                text-rendering: optimizeLegibility;
                -webkit-font-feature-settings: 'kern';
                -moz-font-feature-settings: 'kern';
                font-feature-settings: 'kern';
                -webkit-font-kerning: normal;
                -moz-font-kerning: normal;
                font-kerning: normal;
                -webkit-font-variant-ligatures: common-ligatures;
                -moz-font-variant-ligatures: common-ligatures;
                font-variant-ligatures: common-ligatures
            }
            
            html {
                font-family: "Libre Baskerville", Georgia, serif;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box
            }
            
            *,
             :after,
             :before {
                -webkit-box-sizing: inherit;
                -moz-box-sizing: inherit;
                box-sizing: inherit
            }
            
            body,
            figure.interactive {
                margin: 0;
                padding: 0;
                background-color: #fff
            }
            
            a {
                text-decoration: none
            }
            
            a,
            a:active,
            a:hover {
                color: #005689
            }
            
            a:hover {
                text-decoration: underline
            }
            
            .notes a,
            .un-header__langs a,
            p a {
                text-decoration: none
            }
            
            .interactive {
                width: 100%;
                box-sizing: border-box;
                background-color: #fff
            }
            
            .interactive-share {
                height: 36px;
                width: 36px;
                border-radius: 18px;
                background: #333;
                display: inline-block;
                border: none;
                cursor: pointer;
                outline: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 36px;
                background-color: rgba(255, 255, 255, .25);
                margin-right: 5px
            }
            
            .interactive-share.sign {
                height: inherit;
                width: inherit;
                border-radius: none;
                background: 0 0;
                vertical-align: top
            }
            
            .interactive-share[data-network=facebook] {
                background-color: #000;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=)
            }
            
            .interactive-share[data-network=facebook]:hover {
                background-color: #00adef
            }
            
            .interactive-share[data-network=twitter] {
                background-color: #000;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=)
            }
            
            .interactive-share[data-network=twitter]:hover {
                background-color: #00adef
            }
            
            .interactive-share[data-network=google] {
                background-size: 28px;
                background-color: #000;
                background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 21.0.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='43.8px' height='28.1px' viewBox='0 0 43.8 28.1' style='enable-background:new 0 0 43.8 28.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M14.1,0C6.3,0,0,6.3,0,14.1s6.3,14.1,14.1,14.1s14.1-6.3,14.1-14.1c0-1-0.1-1.9-0.3-2.8l-0.1-0.3H14.1v4.7h9.4 c-0.7,4.4-4.7,7.8-9.4,7.8c-5.2,0-9.4-4.2-9.4-9.4s4.2-9.4,9.4-9.4c2.3,0,4.5,0.9,6.1,2.3l3.4-3.3C21,1.4,17.7,0,14.1,0z M35.9,6.2 v4.7h-4.7v3.1h4.7v4.7h3.1v-4.7h4.7v-3.1h-4.7V6.2H35.9z'/%3E%3C/svg%3E%0A")
            }
            
            .interactive-share[data-network=google]:hover {
                background-color: #00adef
            }
            
            h1,
            h2,
            h3,
            p {
                white-space: pre-line;
                max-width: 580px;
                color: #333
            }
            
            @media (min-width:900px) {
                h1,
                h2,
                h3,
                p {
                    max-width: 640px
                }
            }
            
            h1 b,
            h2 b,
            h3 b,
            p b {
                font-weight: 700
            }
            
            .river-map {
                margin: 0 auto;
                display: block;
                max-width: 580px;
                height: 215px;
                position: relative;
                background-repeat: no-repeat;
                background-size: contain;
                overflow: hidden
            }
            
            .river-map__label {
                position: absolute;
                font-size: 13px;
                font-family: Roboto, sans-serif;
                font-weight: 400;
                line-height: 16px;
                color: grey;
                margin-left: -14px;
                margin-top: -4px
            }
            
            h1,
            h2,
            h3 {
                margin: auto
            }
            
            @media (min-width:900px) {
                .river-map {
                    max-width: 640px;
                    height: 360px
                }
                .river-map__label {
                    font-size: 16px;
                    font-family: Roboto, sans-serif;
                    font-weight: 400;
                    font-weight: 600;
                    line-height: 16px
                }
            }
            
            .axis text,
            .legend text {
                font-family: Roboto, sans-serif;
                font-weight: 400
            }
            
            .axis text {
                font-size: 12px;
                line-height: 18px;
                fill: #aaa
            }
            
            .legend {
                padding-left: 0!important;
                position: relative
            }
            
            .legend .tick line {
                stroke: grey
            }
            
            .legend text {
                font-size: 13px;
                line-height: 20px;
                fill: grey
            }
            
            h1 {
                font-size: 36px;
                line-height: 42px;
                font-family: Roboto, serif;
                color: #333;
                font-weight: 100;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10px
            }
            
            @media (min-width:900px) {
                h1 {
                    font-size: 60px;
                    line-height: 76px;
                    font-family: Roboto, serif;
                    font-weight: 100;
                    padding-top: 20px;
                    padding-left: 0
                }
            }
            
            h2,
            h3,
            h3.river-label {
                font-family: Roboto, serif;
                font-weight: 300
            }
            
            .header-first {
                color: #00a79d;
                padding-top: 80px;
                text-align: center;
                font-style: italic !important;
                font-weight: 500;
            }
            
            p a,
            p a:hover {
                color: inherit
            }
            
            @media (min-width:900px) {
                .header-first {
                    padding-top: 180px
                }
            }
            
            p a {
                opacity: 1;
                display: inline
            }
            
            h2 {
                font-size: 24px;
                line-height: 32px;
                padding-top: 2px;
                margin-bottom: 30px;
                border-top: 1px solid #333
            }
            
            @media (min-width:900px) {
                h2 {
                    font-size: 28px;
                    line-height: 36px;
                    font-family: Roboto, serif
                }
            }
            
            h3 {
                font-size: 21px;
                line-height: 28px;
                padding-top: 0;
                margin-bottom: 10px;
                margin-top: 30px
            }
            
            @media (min-width:900px) {
                h3 {
                    font-size: 24px;
                    line-height: 32px;
                    font-family: Roboto, serif
                }
            }
            
            h3.river-label {
                margin-bottom: 30px;
                margin-top: 10px;
                font-size: 21px;
                line-height: 28px
            }
            
            p,
            p.prominent,
            p.source,
            p.subh2 {
                font-family: Roboto, sans-serif
            }
            
            .table h2 {
                padding-top: 40px;
                border-top: none
            }
            
            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin: auto
            }
            
            @media (min-width:900px) {
                p {
                    font-size: 18px;
                    line-height: 26px;
                    font-family: Roboto, sans-serif;
                    font-weight: 400
                }
            }
            
            p.subh2 {
                font-size: 20px;
                line-height: 28px;
                font-weight: 300;
                color: grey;
                margin-bottom: 20px
            }
            
            @media (min-width:900px) {
                p.subh2 {
                    font-size: 24px;
                    line-height: 36px;
                    font-family: Roboto, sans-serif;
                    font-weight: 300
                }
            }
            
            p.subh2 span {
                color: #fff;
                background: #00AEEF;
                padding: 2px
            }
            
            p.source {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #bdbdbd
            }
            
            p,
            p.subh2 {
                padding-bottom: 0
            }
            
            p.prominent {
                padding-bottom: 20px;
                font-size: 20px;
                line-height: 28px;
                font-weight: 300;
                color: #333
            }
            
            .notes p,
            .subhead {
                padding-bottom: 10px
            }
            
            @media (min-width:900px) {
                p.prominent {
                    font-size: 32px;
                    line-height: 42px;
                    font-family: Roboto, sans-serif;
                    font-weight: 300
                }
            }
            
            .notes p,
            p.byline {
                font-size: 13px;
                line-height: 20px;
                font-family: Roboto, sans-serif;
                font-weight: 400;
                padding-top: 10px
            }
            
            p.byline {
                color: #333
            }
            
            .notes p {
                padding-left: 10px;
                color: grey
            }
            
            .subhead,
            p.standfirst {
                font-weight: 300;
                font-family: Roboto, sans-serif
            }
            
            .notes a {
                border-bottom: 1px dotted grey
            }
            
            .notes a:hover {
                color: inherit;
                border-bottom: 1px solid grey;
                opacity: .7
            }
            
            p.standfirst {
                font-size: 14px;
                line-height: 22px;
                color: #FFF;
                margin-bottom: 20px
            }
            
            @media (min-width:900px) {
                p.standfirst {
                    font-size: 16px;
                    line-height: 24px;
                    font-family: Roboto, sans-serif;
                    font-weight: 300
                }
            }
            
            .subhead {
                font-size: 20px;
                line-height: 28px;
                color: #333;
                border-top: 1px solid #333
            }
            
            @media (min-width:900px) {
                .subhead {
                    font-size: 32px;
                    line-height: 42px;
                    font-family: Roboto, sans-serif;
                    font-weight: 300
                }
            }
            
            .subhead span {
                background-color: #f5f5f5;
                padding: 2px
            }
            
            .un-header__langs {
                font-size: 13px;
                line-height: 20px;
                font-family: Roboto, sans-serif;
                font-weight: 400;
                color: grey;
                float: right;
                margin: 10px;
                padding-right: 20px
            }
            
            @media (min-width:900px) {
                .un-header__langs {
                    margin: 86px 0 10px 45px
                }
            }
            
            .un-header__langs a {
                padding-right: 8px;
                color: inherit
            }
            
            footer a,
            footer a:hover {
                color: inherit;
                text-decoration: underline
            }
            
            .un-header__langs a:hover {
                color: inherit;
                opacity: .7
            }
            
            .interactive-container {
                padding: 0 10px;
                margin: 0 auto
            }
            
            .interactive-container.immersive {
                max-width: none;
                width: 100%;
                padding: 0
            }
            
            .interactive-container ul {
                max-width: 580px;
                padding-left: 10px;
                padding-right: 10px;
                margin: auto;
            }
            
            .interactive-container h2,
            .interactive-container h3,
            .interactive-container nav,
            .interactive-container p {
                max-width: 580px;
                padding-left: 10px;
                padding-right: 10px
            }
            
            @media (min-width:900px) {
                .interactive-container h2,
                .interactive-container h3,
                .interactive-container nav,
                .interactive-container p {
                    max-width: 640px;
                    padding-left: 0
                }
            }
            
            #ocean_current,
            #plastic_measures {
                min-width: 900px
            }
            
            #fig-ocean_current,
            #fig-plastic_measures,
            .fig-table {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch
            }
            
            .bubble {
                stroke: #fff;
                stroke-width: 1px
            }
            
            .hovered {
                stroke: #000;
                stroke-width: 3px
            }
            
            .tooltip {
                pointer-events: none;
                position: absolute;
                background: rgba(255, 255, 255, .8);
                border: 1px solid #DCDCDC;
                padding: 5px;
                display: none;
                max-width: 200px
            }
            
            .tooltip h3,
            .tooltip p {
                padding: 0!important;
                margin: 0!important;
                font-size: 13px;
                line-height: 20px;
                font-family: Roboto, sans-serif
            }
            
            .tooltip h3 {
                font-weight: 700
            }
            
            .tooltip p {
                font-weight: 400
            }
            
            .un-header {
                width: 100%;
                background: #fff;
                position: absolute;
                top: 0;
                border-bottom: 1px solid #dcdcdc
            }
            
            .un-header .un-logo {
                height: 50px;
                margin: 10px
            }
            
            @media (min-width:900px) {
                .un-header .un-logo {
                    height: 80px;
                    margin: 10px 0px 10px 20px
                }
            }
            
            .scrolly-last__img {
                min-width: 1280px;
                height: 100%;
                width: 100%
            }
            
            .navbar {
                width: 100%
            }
            
            .navbar .navbar-small {
                width: 100%;
                display: block;
                height: 55px;
                background: #e0565a
            }
            
            .navbar .navbar-small .logo {
                margin: auto;
                width: 180px;
                padding-top: 15px
            }
            
            .iframe,
            .navbar .navbar-small .logo img,
            .partner-logos img {
                width: 100%
            }
            
            .navbar .navbar-big {
                display: none
            }
            
            @media (min-width:900px) {
                .navbar .navbar-small {
                    display: none
                }
                .navbar .navbar-big {
                    width: 100%;
                    display: block
                }
                .navbar .navbar-big .logo {
                    margin: 0 auto;
                    padding-top: 25px;
                    max-width: 340px
                }
                .navbar .navbar-big .logo img {
                    margin: 0 auto;
                    width: 100%
                }
            }
            
            .social-btns {
                margin: auto;
                max-width: 580px;
                padding-top: 20px;
                padding-left: 10px;
                padding-bottom: 35px
            }
            
            @media (min-width:900px) {
                .social-btns {
                    max-width: 640px;
                    padding-left: 0
                }
                .partner-logos img {
                    max-width: 150px;
                }
            }
            
            .partner-logos {
                width: 100%;
                margin: auto;
                display: block;
                padding: 50px 0;
                background-color: #fafafa;
                margin-top: 70px;
                text-align: center
            }
            
            .chapter,
            .copy,
            .header,
            .table {
                background: #fff
            }
            
            .iframe {
                margin: 20px auto
            }
            
            .figure-container figure,
            figure {
                margin: 0
            }
            
            .inline .iframe {
                max-width: 640px
            }
            
            .iframe.wide,
            .wide .iframe {
                max-width: 900px
            }
            
            .iframe iframe {
                min-width: 100%;
                width: 100px
            }
            
            .picture,
            figure {
                width: 100%;
                position: relative
            }
            
            .iframe.inline {
                max-width: 640px
            }
            
            .figure-container {
                position: relative
            }
            
            .picture {
                margin: auto
            }
            
            .fig-picture {
                text-align: center;
                padding-top: 20px
            }
            
            .chart {
                height: 90vh;
                position: relative;
                margin: auto
            }
            
            @media (min-width:900px) {
                .picture {
                    max-width: 960px
                }
                .chart {
                    max-width: 1200px
                }
            }
            
            .chart#rivers {
                height: inherit;
                max-width: none;
                overflow-x: hidden
            }
            
            .chart.fig-table {
                padding-top: 10px;
                height: inherit;
                min-width: 900px
            }
            
            .table-item {
                display: inline-block;
                width: 16%;
                padding: 10px;
                vertical-align: text-top
            }
            
            .table-item p {
                padding-left: 0
            }
            
            .table-item__img {
                height: 200px;
                position: relative
            }
            
            .table-item__img img {
                width: 100%;
                position: absolute;
                bottom: 0
            }
            
            .header-img {
                margin: auto;
                max-width: 100vw
            }
            
            .header-img img {
                width: 100%
            }
            
            .copy {
                padding-top: 30px
            }
            
            .intro {
                min-height: 70vh
            }
            
            @media (min-width:900px) {
                .header-img {
                    max-width: 90vw;
                    margin-bottom: -11px;
                }
                .intro {
                    min-height: 85vh
                }
            }
            
            .footer__video,
            .illos,
            footer {
                background-color: #000
            }
            
            footer h2,
            footer p {
                color: #fff
            }
            
            footer h2 {
                border-color: #aaa
            }
            
            footer a {
                opacity: 1;
                display: inline
            }
            
            footer a:hover {
                opacity: .6
            }
            
            .swipe-nav {
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='55.4px' height='14.9px' viewBox='0 0 55.4 14.9' style='enable-background:new 0 0 55.4 14.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M47.5,1.9v4.4H25.8v2.2h21.7v4.4l7.9-5.5L47.5,1.9z'/%3E%3Cpath class='st0' d='M7.9,12.9V8.5h7.9V6.3H7.9V1.9L0,7.4L7.9,12.9z'/%3E%3Ccircle class='st0' cx='27.7' cy='7.4' r='7.4'/%3E%3C/svg%3E");
                display: block;
                width: 55px;
                height: 15px;
                margin: 20px auto;
                background-repeat: none
            }
            
            @media (min-width:900px) {
                .swipe-nav {
                    display: none
                }
            }
            
            .key-sol {
                width: 28px;
                height: 28px;
                display: inline-block;
                margin: 0 3px -5px 6px;
                background-size: 28px 28px
            }
            
            .key-sol.nat {
                background-image: url(/assets/imgs/key-sol-01.png)
            }
            
            .key-sol.loc {
                background-image: url(/assets/imgs/key-sol-02.png)
            }
            
            .footer__video {
                max-width: 780px;
                margin: 30px auto;
                position: relative
            }
            
            .footer__video #video_background {
                width: 100%
            }
            
            .footer__video__overlay {
                position: absolute;
                bottom: 20px;
                width: 100%;
                text-align: center
            }
            
            .footer__video__overlay .tag {
                font-size: 13px;
                line-height: 20px;
                font-family: Roboto, sans-serif;
                padding-bottom: 0!important;
                font-weight: 700;
                color: #fff
            }
            
            .footer__video__overlay .title,
            .illos h2 {
                font-family: Roboto, serif;
                color: #fff
            }
            
            .footer__video__overlay .title {
                font-size: 28px;
                line-height: 36px;
                padding-bottom: 30px
            }
            
            .illos h2 {
                font-size: 36px;
                line-height: 42px;
                font-weight: 100;
                border-top: none
            }
            
            .illos p {
                color: #fff
            }
            
            .footer__buttons {
                max-width: 580px;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0 auto
            }
            
            @media (min-width:900px) {
                .footer__video__overlay {
                    bottom: 60px
                }
                .illos h2 {
                    font-size: 48px;
                    line-height: 60px;
                    font-family: Roboto, serif
                }
                .footer__buttons {
                    max-width: 720px;
                    padding-left: 0
                }
            }
            
            .footer__buttons .button {
                display: inline-block;
                width: 100%;
                margin-top: 5px
            }
            
            @media (min-width:600px) {
                .footer__buttons .button {
                    width: 48%
                }
            }
            
            .footer__buttons a,
            footer__video__overlay a {
                font-size: 16px;
                line-height: 24px;
                font-family: Roboto, sans-serif;
                font-weight: 400;
                font-weight: 700;
                text-decoration: none;
                transition: all .3s
            }
            
            .footer__buttons a.button,
            footer__video__overlay a.button {
                color: #fff;
                background-color: #f24c27;
                border: 2px solid #f24c27;
                padding: 28px 16px;
                text-align: center
            }
            
            .footer__buttons a:hover,
            footer__video__overlay a:hover {
                background-color: #fff;
                border: 2px solid #f24c27;
                color: #f24c27;
                opacity: 1;
                text-decoration: none
            }
            
            .illos-item,
            .illos-item p span {
                background-color: #fff843
            }
            
            .illos-item {
                width: 100%;
                position: relative;
                margin: 30px auto;
                height: 280px;
                opacity: 0;
                transition: opacity .3s
            }
            
            @media (min-width:900px) {
                .footer__buttons a.button,
                footer__video__overlay a.button {
                    padding: 42px 24px
                }
                .illos-item {
                    max-width: 960px;
                    height: 380px
                }
            }
            
            .illos-item img {
                height: 280px;
                right: 0;
                position: absolute
            }
            
            .illos-item p {
                position: absolute;
                bottom: 10px;
                left: 0;
                font-size: 24px;
                line-height: 32px;
                font-family: Roboto, serif;
                color: #333;
                max-width: 300px
            }
            
            @media (min-width:900px) {
                .illos-item img {
                    height: 380px
                }
                .illos-item p {
                    bottom: 30px;
                    left: 40px;
                    font-size: 32px;
                    line-height: 42px;
                    font-family: Roboto, sans-serif;
                    font-weight: 300
                }
            }
            
            .sound {
                position: absolute;
                right: 10px;
                width: 32px;
                height: 32px;
                background-size: 32px 32px;
                background-position: center center;
                padding: 0 0 0 32px;
                background-repeat: no-repeat;
                top: 10px
            }
            
            .enablesound {
                background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 21.0.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='18px' height='17.5px' viewBox='0 0 18 17.5' style='enable-background:new 0 0 18 17.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23f24c27;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0,5.8v6h4l5,5v-16l-5,5H0z M13.5,8.8c0-1.8-1-3.3-2.5-4v8.1C12.5,12.1,13.5,10.5,13.5,8.8z M11,0v2.1 c2.9,0.9,5,3.5,5,6.7s-2.1,5.9-5,6.7v2.1c4-0.9,7-4.5,7-8.8S15,0.9,11,0z'/%3E%3C/svg%3E%0A")
            }
            
            .disablesound {
                background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 21.0.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='18px' height='18px' viewBox='0 0 18 18' style='enable-background:new 0 0 18 18;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23f24c27;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M13.5,9c0-1.8-1-3.3-2.5-4v2.2l2.5,2.4C13.5,9.4,13.5,9.2,13.5,9z M16,9c0,0.9-0.2,1.8-0.5,2.6l1.5,1.5 c0.7-1.2,1-2.6,1-4.1c0-4.3-3-7.9-7-8.8v2.1C13.9,3.1,16,5.8,16,9z M1.3,0L0,1.3L4.7,6H0v6h4l5,5v-6.7l4.2,4.2 c-0.7,0.5-1.4,0.9-2.2,1.2v2.1c1.4-0.3,2.6-1,3.7-1.8l2,2l1.3-1.3l-9-9L1.3,0z M9,1L6.9,3.1L9,5.2V1z'/%3E%3C/svg%3E%0A")
            }
            
            .waste-0,
            .waste-1,
            .waste-2,
            .waste-3,
            .waste-4,
            .waste-5 {
                position: absolute;
                width: 65px;
                height: 65px;
                top: 0;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat
            }
            
            .waste-0 {
                background-image: url(/assets/imgs/bottle.png);
                width: 85px
            }
            
            .waste-1 {
                background-image: url(/assets/imgs/bag.png)
            }
            
            .waste-2 {
                background-image: url(/assets/imgs/fork.png);
                width: 70px
            }
            
            .waste-3 {
                background-image: url(/assets/imgs/chips.png)
            }
            
            .waste-4 {
                background-image: url(/assets/imgs/shampoo.png)
            }
            
            .waste-5 {
                background-image: url(/assets/imgs/styro.png)
            }
            
            .river {
                position: relative
            }
            
            .scrolly-last,
            .scrolly-main-element {
                height: 100vh;
                min-height: 400px;
                position: sticky;
                position: -webkit-sticky;
                width: 100%;
                top: 0;
                overflow: hidden
            }
            
            .scrolly-section {
                height: 100vh;
                min-height: 400px
            }
            
            .scrolly-section p {
                font-size: 21px;
                line-height: 28px;
                font-family: Roboto, serif
            }
            
            @media (min-width:900px) {
                .scrolly-section p {
                    font-size: 24px;
                    line-height: 32px;
                    font-family: Roboto, serif
                }
            }
            
            .scrolly-section span {
                background-color: rgba(255, 255, 255, .8);
                padding: 2px
            }
            
            .scrolly-sections {
                position: absolute;
                margin: 0 auto;
                z-index: 10;
                width: 100%;
                margin-top: -20vh;
                pointer-events: none
            }
            
            .scrolly-sections p a {
                pointer-events: all;
                color: #e0565a
            }
            
            .interactive,
            .scrolly {
                position: relative
            }
            
            .interactive:after,
            .interactive:before {
                background: rgba(51, 51, 51, .05);
                bottom: 0;
                position: absolute;
                content: ' ';
                top: 0
            }
            
            .interactive-block {
                position: relative;
                margin: 0;
                padding-top: 40px;
                padding-bottom: 20px
            }
            
            .interactive-block.intro {
                padding-top: 0
            }
            
            .interactive-block.header {
                padding-top: 10px
            }
            
            .interactive-block.scrolly {
                padding-bottom: 0
            }
            
            .interactive-block.table {
                padding-top: 0
            }
            
            footer {
                padding-bottom: 0!important
            }